@use "../abstracts/" as *;

// Placeholders
%main-header-toggle {
  @extend %btn-icon-center;
  @include size-equal(2.5rem);
}

// Block
.app {
  // Element
  &__main-header {
    height: calc(100vh - 2rem);
    width: clamp(20rem, 25vw, 25rem);
    transition: all 0.3s ease;
    @include border-right;
    /*-------------------- 
    following styles are for
    minimized AppMainHeader
    ---------------------*/
    &.minimized {
      width: 10rem;
      // Element
      .app__main-header-top {
        /*--------------------
        center the toggle button
        when header minimized 
        ---------------------*/
        justify-content: center;
      }
    }
  }
  // Element
  &__main-header-top {
    height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include border-bottom;
  }
  // Element
  &__main-header-btn-toggle {
    @extend %main-header-toggle;
    background-image: url($icon-header-left);
    // Modifier
    &_minimized {
      @extend %main-header-toggle;
      background-image: url($icon-header-right);
    }
  }
  // Element
  &__main-header-logo {
    @include size-equal(3rem);
  }
}
