@use "../abstracts/" as *;

// Block
.app {
  // Element
  &__main-header {
    height: calc(100vh - 2rem);
    width: clamp(20rem, 25vw, 25rem);
    transition: all 0.3s ease;
    @include border-right;
    flex-shrink: 0;
    /*-------------------- 
    following styles are for
    minimized AppMainHeader
    ---------------------*/
    &.minimized {
      width: 10rem;
      // Element
      .app__main-header-top {
        /*--------------------
        center the toggle button
        when header minimized 
        ---------------------*/
        justify-content: center;
      }
    }

    @media print {
      display: none;
    }
  }
  // Element
  &__main-header-top {
    height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include border-bottom;
  }
  // Element
  &__main-header-logo {
    @include size-equal(3rem);
  }
}
