@use "../abstracts/" as *;

// Block
.app {
  // Element
  &__main-nav {
    transition: all 0.2s ease;
    /* Transition styles */
    &.enter-active {
      transform: translateX(0);
    }
    &.leave-active {
      transform: translateX(-150%);
    }
  }
  // Element
  &__main-nav-menu {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  // Element
  &__main-nav-item {
    &:hover {
      @include hover-underline;
    }
  }
  // Element
  &__main-nav-icon {
    @include size-equal(2rem);
  }
}
