@use "../abstracts/" as *;

// Block
.btn {
  @extend %g-btn;
  // Modifier
  &_start {
    @extend %g-btn_start;
  }
  // Element
  &__icon {
    // Modifier
    &_info {
      @extend %g-btn__icon;
      background-image: url($icon-info);
    }
    // Modifier
    &_settings {
      @extend %g-btn__icon;
      background-image: url($icon-settings);
    }
    // Modifier
    &_arrow-left {
      @extend %g-btn__icon;
      background-image: url($icon-alt-arrow-left);
    }
    // Modifier
    &_arrow-right {
      @extend %g-btn__icon;
      background-image: url($icon-alt-arrow-right);
    }
  }
  // Element
  &__dropdown-toggle {
    // Modifier
    &_primary {
      @extend %g-btn_between;
      @extend %g-primary-styles;
      width: 100%;
    }
  }
  // Element
  &__dropdown-icon {
    &_down {
      @extend %g-icon;
      @include size-equal(2rem);
      background-image: url($icon-alt-arrow-down);
    }
    &_up {
      @extend %g-icon;
      @include size-equal(2rem);
      background-image: url($icon-alt-arrow-up);
    }
  }
}
