@use "../abstracts/" as *;

// Block
.btn-add {
  @extend %btn-flex-start;
  font-size: $fs-300;
  font-weight: $fw-600;
  color: $primary-blue;
  img {
    width: 2rem;
    height: 2rem;
  }
  // Element
  &__employee,
  &__company {
    @extend .btn-add;
  }
}

// Block
.btn-info,
.btn-settings {
  @extend %btn-center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  &:hover {
    background-color: $neutral-500;
  }
  &:active {
    background-color: $neutral-600;
  }
}
