@use "../abstracts/" as *;

// Placeholders
%btn-add {
  @extend %btn-flex-start;
  font-size: $fs-300;
  font-weight: $fw-600;
  color: $primary-blue;
  img {
    @include size-equal(2rem);
  }
}

// Block
.btn-add {
  @extend %btn-add;
  // Element
  &__employee,
  &__company {
    @extend %btn-add;
  }
}
// Block
.btn-info,
.btn-settings {
  @extend %btn-center;
  &:hover {
    background-color: $neutral-500;
  }
  &:active {
    background-color: $neutral-600;
  }
}
