@use "../abstracts/" as *;

// Placeholders
%collections-list-icon {
  @include size-equal(2.4rem);
}

// Block
.collections-list {
  box-shadow: $box-shadow-card;
  // Element
  &__row a,
  &__head {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  // Element
  &__data {
    width: clamp(10rem, 10vw, 15rem);
    // Modifier
    &_big {
      width: clamp(10rem, 15vw, 20rem);
    }
  }
  // Element
  &__icon {
    @extend %collections-list-icon;
    // Modifier
    &_company {
      @extend %collections-list-icon;
      background: url($icon-company);
    }
    &_employees {
      @extend %collections-list-icon;
      background: url($icon-employees);
    }
  }
  // Element
  &__row {
    @include border-bottom($color: $primary-600);
    &:hover {
      background-color: $primary-500;
      border-radius: 1rem;
    }
    /* Select the row before the hovered one */
    &:has(+ &:hover) {
      @include border-bottom($color: transparent);
    }
  }
}
