@use "../abstracts/" as *;

// Block
.companies-list {
  // Element
  &__row a,
  &__head {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  // Element
  &__data {
    width: clamp(10rem, 10vw, 15rem);
    // Modifier
    &_big {
      width: clamp(10rem, 15vw, 20rem);
    }
  }
  // Router link additional styles
  a {
    color: $neutral-800;
    padding: 1rem;
    border-bottom: 1px solid $primary-600;
    &:hover {
      background-color: $primary-500;
      border-radius: 1rem;
    }
  }
}
