@use "../abstracts/" as *;
// Placeholders
%width-regular {
  width: clamp(10rem, 10vw, 15rem);
}
%width-big {
  width: clamp(10rem, 15vw, 20rem);
}

// Block
.companies-results-list {
  // Element
  &__header-content {
    @extend %width-regular;
    // Modifier
    &_big {
      @extend %width-big;
    }
  }
  // Element
  &__data-content {
    @extend %width-regular;
    // Modifier
    &_big {
      @extend %width-big;
    }
  }
  // Element
  &__data-row {
    @include border-bottom($color: $primary-600);
    &:hover {
      background-color: $primary-500;
      border-radius: 1rem;
    }
    /* Select the row before the hovered one */
    &:has(+ &:hover) {
      @include border-bottom($color: $neutral-100);
    }
  }
}
