@use "../abstracts/" as *;

// Placeholders
%icon {
  @include size-equal(2.4rem);
}
%width-regular {
  width: clamp(10rem, 10vw, 15rem);
}
%width-big {
  width: clamp(10rem, 15vw, 20rem);
}

// Block
.database-page-list {
  @include border-all;
  // Element
  &__header-icon {
    /* header-icon is empty, it is for alignment */
    @extend %icon;
    // Modifier
    &_company {
      @extend %icon;
      background: url($icon-company);
    }
    &_employees {
      @extend %icon;
      background: url($icon-employees);
    }
  }
  // Element
  &__header-content {
    @extend %width-regular;
    // Modifier
    &_big {
      @extend %width-big;
    }
  }
  // Element
  &__row {
    @include border-bottom($color: $primary-600);
    &:hover {
      background-color: $primary-500;
      border-radius: 1rem;
    }
    /* Select the row before the hovered one */
    &:has(+ &:hover) {
      @include border-bottom($color: transparent);
    }
  }
  // Element
  &__row-icon {
    @extend %icon;
    // Modifier
    &_company {
      @extend %icon;
      background: url($icon-company);
    }
    &_employees {
      @extend %icon;
      background: url($icon-employees);
    }
  }
  // Element
  &__row-content {
    @extend %width-regular;
    // Modifier
    &_big {
      @extend %width-big;
    }
  }
}
