@use "../abstracts/" as *;

// Block
.data-holder {
  padding: 0.15em 0.25em;
  box-shadow: $box-shadow-primary;
}

@media print {
  /* Print Styles */
  .data-holder {
    padding: unset;
    box-shadow: unset;
  }
}
