@use "../abstracts/" as *;

// Block
.document-page {
  // Element
  &__viewer {
    height: calc(100vh - 7.5rem);
    flex-grow: 2;
  }
  // Element
  &__viewer-outer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // Element
  &__viewer-inner {
    @include border-all($width: 2px, $color: $border-medium);
    overflow: scroll;
    height: calc(100vh - 15rem);
    width: 816px;
    padding: 4rem;
    background-color: #f6f8fc;
  }
}
