@use "../abstracts/" as *;

// Block
.document-page {
  // Element
  &__sidebar {
    height: calc(100vh - 7.5rem);
    width: clamp(25rem, 30vw, 35rem);
    @include border-left;
    @include border-right;
    transition: all 0.3s ease;
    position: relative;
    /*-------------------- 
    Following styles are for
    minimized Sidebar
    ---------------------*/
    &.minimized {
      width: 5rem;
      padding: none;
      // Element
      .document-page-sidebar__header {
        justify-content: center;
      }
    }
  }
  // Element
  &__sidebar-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding-block: 1rem;
    padding-inline: 2rem;
    @include border-bottom;
  }
  // Element
  &__sidebar-header-icon {
    @include size-equal(3rem);
  }
  // Element
  &__sidebar-header-title {
    font-size: $fs-400;
    font-weight: $fw-600;
    color: $neutral-600;
    transition: all 0.3s ease;
    /* Transition styles */
    &.enter-active {
      position: absolute;
      transform: translateX(50px);
    }
    &.leave-active {
      position: absolute;
      transform: translateX(500px);
    }
  }
  // Element
  &__sidebar-toggle-wrapper {
    width: 2rem;
    height: 6rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: $primary-500;
    display: flex;
    align-items: center;
  }
  // Element
  &__sidebar-main {
    height: calc(100% - 5.1rem);
  }
}
