@use "../abstracts/" as *;

// Placeholders
%primary-shared {
  background-color: $primary-100;
  box-shadow: $box-shadow-card;
  color: $neutral-800;
  border-radius: 0.5rem;
  font-size: $fs-200;
  min-width: 12rem;
  padding: 1rem;
}
%filter {
  position: relative;
}
%filter-toggle {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  border: none;
}
%filter-menu {
  position: absolute;
  top: 125%;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
%filter-submenu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
%filter-option {
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

// Block
.filter {
  @extend %filter;
  // Modifier
  &_primary {
    @extend %filter;
  }
  // Element
  &__btn-toggle {
    @extend %filter-toggle;

    // Modifier
    &_primary {
      @extend %filter-toggle;
      @extend %primary-shared;
      font-weight: $fw-500;
      &:hover {
        background-color: $primary-500;
      }
    }
  }
  // Element
  &__arrow {
    @extend %arrow-down;
  }
  // Element
  &__menu {
    @extend %filter-menu;
    // Modifier
    &_primary {
      @extend %filter-menu;
      @extend %primary-shared;
    }
  }
  // Element
  &__submenu {
    @extend %filter-submenu;
    // Modifier
    &_primary {
      @extend %filter-submenu;
    }
    // Element
    &-title {
      font-size: $fs-100;
      font-weight: $fw-500;
      color: $neutral-600;
    }
  }
  // Element
  &__option {
    @extend %filter-option;
    // Modifier
    &_primary {
      @extend %filter-option;
      &[aria-selected="true"] {
        background-color: $primary-500;
      }
      &:hover {
        background-color: $primary-500;
      }
    }
  }
}
