@use "../abstracts/" as *;

// Placeholders
%error-icon {
  @include size-equal(1.8rem);
  background: url($icon-input-error);
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}

// Block
.form-group {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  // Element
  &__label {
    font-size: $fs-200;
  }
  // Element
  &__input-wrapper {
    position: relative;
  }
  // Element
  &__input {
    width: 30rem;
    border: none;
    @extend %g-primary-styles;
    @include focus;
    &[aria-invalid="true"] {
      box-shadow: $box-shadow-error;
    }
  }
  // Element
  &__error {
    @extend %error-bubble-up;
    position: absolute;
    z-index: 99;
    top: 5.2rem;
    // Element
    &-icon {
      @extend %error-icon;
    }
    // Element
    &-message {
      letter-spacing: 0.2px;
    }
  }
}
