@use "../abstracts/" as *;

// Block
.home-fav {
  box-shadow: $box-shadow-card;
  border-radius: 1rem;
  max-width: 400px;
  // Element
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-500;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom: 1px solid $neutral-400;
  }
  // Element
  &__menu {
    background-color: $neutral-100;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  // Element
  &__item {
    padding: 1rem;
    // no border for last items
    &:where(:not(:last-child)) {
      border-bottom: 1px solid $primary-500;
    }
    &:hover {
      background-color: $primary-500;
    }
  }
}
