@use "../abstracts/" as *;

// Block
.input-text {
  // Modifier
  &_primary {
    width: 30rem;
  }
  // Element
  &__message {
    @extend %input-message-warning;
  }
  // Element
  &__field {
    // Modifier
    &_primary {
      width: 100%;
      border: none;
      @extend %primary-styles;
      @include focus;
      &[aria-invalid="true"] {
        box-shadow: $box-shadow-error;
      }
    }
  }
}
