@use "../abstracts/" as *;

// Placeholders
%paragraph {
  font-family: $letter-ff;
  font-size: $letter-fs;
  line-height: $letter-lh;
  white-space: normal;
  letter-spacing: $letter-ls;
  word-wrap: break-word;
  word-break: break-word;
}

%title {
  font-family: $letter-ff;
  font-size: $letter-fs;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
}

// Block
.letter-paragraph {
  @extend %paragraph;
  // Modifier
  &_center {
    @extend %paragraph;
    text-align: center;
  }
}

.letter-title {
  @extend %title;
  &_uppercase {
    @extend %title;
    text-transform: uppercase;
  }
}

.letter-list {
  list-style: disc inside;
}

.letter-header {
  
}

// letter-format-text
// letter-format-list...