@use "../abstracts/" as *;

// Block
.fav-listbox {
  box-shadow: $box-shadow-primary;
  max-width: 400px;
  // Element
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  // Element
  &__menu {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  // Element
  &__item {
    cursor: pointer;
    color: $neutral-800;
    /* remove border-bottom for last items */
    &:where(:not(:last-child)) {
      @include border-bottom($color: $primary-600);
    }
    &:hover {
      background-color: $primary-500;
      border-radius: 1rem;
    }
    /* Select the item before the hovered one */
    &:has(+ &:hover) {
      @include border-bottom($color: transparent);
    }
  }
}
