@use "../abstracts/" as *;

// Block
.main-nav {
  // Element
  &__menu {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  // Element
  &__link {
    padding: 0.5rem 0 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    @include hover-underline;
  }
  // Element
  &__icon {
    height: 18px;
    width: 18px;
  }
}
