@use "../abstracts/" as *;

// Block
.main-header {
  background-color: $primary-500;
  height: 100vh;
  width: clamp(15rem, 25vw, 30rem);
  // Element
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $neutral-400;
  }
  // Element
  &__btn-toggle {
    @extend %btn-center;
    height: 2.5rem;
    width: 2.5rem;
    background: url($icon-left);
    // Modifier
    &-minimized {
      @extend .main-header__btn-toggle;
      background: url($icon-right);
    }
  }

  /*-------------------- 
  Following styles are for
  minimized MainHeader
  ---------------------*/

  &.minimized {
    width: 10rem;
    // Element
    .main-header__top {
      // center toggle button
      justify-content: center;
    }
  }
}
