@use "../abstracts/" as *;

// Block
.section-title {
  display: flex;
  align-items: center;
  gap: 2rem;
  @include border-bottom($width: 2px, $color: $primary-500);
  // Element
  &__icon {
    @include size-equal(2.5rem);
  }
}
