@use "../abstracts/" as *;
// Block
.select-single {
  position: relative;
  // Element
  &__btn-toggle {
    @extend %btn-flex-between;
    img {
      width: 2rem;
      height: 2rem;
    }
    // Modifier
    &_primary {
      @extend .select-single__btn-toggle;
      padding-block: 0.5rem;
      padding-inline: 1rem;
      background-color: $neutral-800;
      color: $neutral-500;
      border-radius: 0.5rem;
      font-size: $fs-100;
      font-weight: $fw-500;
      min-width: 12rem;
    }
  }
  // Element
  &__list {
    position: absolute;
    top: 125%;
    left: 0;
    display: flex;
    flex-direction: column;
    // Modifier
    &_primary {
      @extend .select-single__list;
      background-color: $neutral-800;
      color: $neutral-500;
      padding-inline: 1rem;
      padding-block: 1rem;
      font-size: $fs-100;
      font-weight: $fw-500;
      gap: 1rem;
      border-radius: 0.5rem;
      min-width: 12rem;
    }
  }
  // Element
  &__option {
    position: relative;
    @extend %btn-flex-start;
    @include hover-underline;
    &[aria-selected="true"] {
      &::after {
        position: absolute;
        content: "";
        right: 0;
        display: inline-block;
        transform: rotate(45deg);
      }
    }
    // Modifier
    &_primary {
      @extend .select-single__option;
      &[aria-selected="true"] {
        &::after {
          height: 12px;
          width: 6px;
          border-bottom: 3px solid black;
          border-right: 3px solid black;
        }
      }
    }
  }
  // Modifier
  &_theme-primary {
    @extend .select-single;
  }
}
