@use "../abstracts/" as *;

// Placeholders
%error-icon {
  @include size-equal(1.8rem);
  background: url($icon-input-error);
  background-repeat: no-repeat;
  background-position: center;
  align-self: flex-start;
  flex-shrink: 0;
}
%select-single {
  position: relative;
}
%select-single-toggle {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  border: none;
  width: 100%;
}
%select-single-menu {
  position: absolute;
  top: 125%;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  z-index: 99;
}
%select-single-option {
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

// Block
.select-single {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  // Element
  &__label {
    font-size: $fs-200;
  }
  // Element
  &__listbox {
    // Modifier
    &_primary {
      @extend %select-single;
      width: 30rem;
      position: relative;
      border-radius: 0.5rem;
      &[data-invalid="true"] {
        box-shadow: $box-shadow-error;
      }
    }
  }
  // Element
  &__btn-toggle {
    // Modifier
    &_primary {
      @extend %select-single-toggle;
      @extend %primary-styles;
      font-weight: $fw-500;
      &:hover {
        background-color: $primary-500;
      }
      @include focus;
    }
  }
  // Element
  &__icon {
    @extend %g-icon__arrow_down;
    @include size-equal(2rem);
  }
  // Element
  &__list-container {
    // Modifier
    &_primary {
      @extend %select-single-menu;
      @extend %primary-styles;
    }
  }
  // Element
  &__option {
    // Modifier
    &_primary {
      @extend %select-single-option;
      &[aria-selected="true"] {
        background-color: $primary-500;
      }
      &:hover {
        background-color: $primary-500;
      }
    }
  }
  // Element
  &__error {
    @extend %error-bubble-down;
    position: absolute;
    z-index: 99;
    bottom: 5.2rem;
    // Element
    &-icon {
      @extend %error-icon;
    }
    // Element
    &-message {
      letter-spacing: 0.2px;
    }
  }
}
