@use "../abstracts/" as *;

.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2rem;
  padding-block: 1rem;
  padding-inline: 2rem;
  border-radius: 1rem;
  background-color: $primary-500;
}