@use "../abstracts/" as *;

// Block
.collections-list {
  box-shadow: $box-shadow-card;
  border-radius: 1rem;
  // temporary style
  max-width: 100rem;
  // Menu
  &__menu {
    margin-block-start: 2rem;
  }
  // Element
  &__item {
    a {
      color: $neutral-800;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 2rem;
      padding-block: 1rem;
      border-bottom: 1px solid $primary-600;
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
      &:hover {
        background-color: $primary-500;
      }
    }
  }
  // Element
  &__icon {
    width: 2.4rem;
    height: 2.4rem;
    // Modifier
    &_company {
      @extend .collections-list__icon;
      background: url($icon-company);
    }
    &_employees {
      @extend .collections-list__icon;
      background: url($icon-employees);
    }
  }
  // Element
  &__title {
    font-size: $fs-300;
    font-weight: $fw-500;
    width: clamp(5rem, 10vw, 15rem);
  }
  // Element
  &__count {
    font-size: $fs-300;
    font-weight: $fw-500;
    width: clamp(5rem, 10vw, 15rem);
  }
  /*----------------
  Info bar styles
  ----------------*/
  &__info-bar {
    display: flex;
    align-items: center;
    gap: 2rem;
    // temporary style
    max-width: 100rem;
  }
  &__info-title,
  &__info-count,
  &__info-actions {
    width: clamp(5rem, 10vw, 15rem);
  }
  &__info-icon {
    width: 2rem;
  }
}
