.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.display-none {
  display: none;
}

.display-grid {
  display: grid;
}

.display-inline-flex {
  display: inline-flex;
}