@font-face {
    font-family: "DM Sans";
    font-weight: 300;
    font-display: swap;
    src: url("/fonts/DMSans-Light.woff") format("woff");
  }
  @font-face {
    font-family: "DM Sans";
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/DMSans-Regular.woff") format("woff");
  }
  @font-face {
    font-family: "DM Sans";
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/DMSans-Medium.woff") format("woff");
  }
  @font-face {
    font-family: "DM Sans";
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/DMSans-SemiBold.woff") format("woff");
  }
  @font-face {
    font-family: "DM Sans";
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/DMSans-Bold.woff") format("woff");
  }
  @font-face {
    font-family: "Bree Serif";
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/BreeSerif-Regular.woff") format("woff");
  }
