@use "../abstracts/" as *;

#app {
  display: flex;
}

main {
  flex-grow: 2;
  padding-inline: 4rem;
  padding-block-end: 2rem;
}

// Block
.home {
  // Element
  &__section {
    @include border-all;
  }
}