@use "./mixins" as *;
@use "./colors" as *;
@use "./svg-icons" as *;
@use "./shadows" as *;
@use "./sizes" as *;
@use "./typography" as *;

// Block
%g-btn {
  border: none;
  background: none;
  cursor: pointer;
  @include focus;
  img {
    @include size-equal(2rem);
  }
  // Modifier
  &_center {
    @extend %g-btn;
    display: grid;
    place-content: center;
  }
  // Modifier
  &_between {
    @extend %g-btn;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  // Modifier
  &_start {
    @extend %g-btn;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }
  // Element
  &__icon {
    @extend %g-btn;
    @include size-equal(2.4rem);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    padding: 0.5rem;
    &:hover {
      background-color: $neutral-500;
    }
  }
}

// Block
%g-icon {
  border: none;
  background: none;
  background-position: center;
  // Element
  &__arrow {
    // Modifier
    &_down {
      background: url($icon-arrow-down);
    }
  }
}

%primary-styles {
  background-color: $primary-100;
  box-shadow: $box-shadow-primary;
  color: $neutral-800;
  border-radius: 0.5rem;
  font-size: $fs-100;
  min-width: 12rem;
  padding: 1rem;
}

%error-bubble-up {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  max-width: 25rem;
  background-color: $alert-red;
  padding: 1rem;
  border-radius: 1rem;
  color: $neutral-100;
  font-size: $fs-100;
  font-weight: $fw-600;

  &::after {
    content: "";
    border: 10px solid transparent;
    border-bottom-color: $alert-red;
    border-top: 0;
    position: absolute;
    left: calc(50% - 10px);
    top: -10px;
  }
}

%error-bubble-down {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  max-width: 25rem;
  background-color: $alert-red;
  padding: 1rem;
  border-radius: 1rem;
  color: $neutral-100;
  font-size: $fs-100;
  font-weight: $fw-600;

  &::after {
    content: "";
    border: 10px solid transparent;
    border-top-color: $alert-red;
    border-bottom: 0;
    position: absolute;
    left: calc(50% - 10px);
    bottom: -10px;
  }
}
