@use "./mixins" as *;
@use "./colors" as *;
@use "./svg-icons" as *;
@use "./shadows" as *;
@use "./sizes" as *;
@use "./typography" as *;

%btn {
  border: none;
  background: none;
  cursor: pointer;
  @include focus($neutral-700);

  &-center {
    @extend %btn;
    display: grid;
    place-content: center;
  }

  &-flex-between {
    @extend %btn;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }

  &-flex-start {
    @extend %btn;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
  }
}

%btn-icon-center {
  @extend %btn;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  padding: 0.5rem;
  &:hover {
    background-color: $neutral-500;
  }
}

%arrow-down {
  @extend %btn;
  @include size-equal(2rem);
  background: url($icon-arrow-down);
  background-position: center;
}

%primary-styles {
  background-color: $primary-100;
  box-shadow: $box-shadow-primary;
  color: $neutral-800;
  border-radius: 0.5rem;
  font-size: $fs-100;
  min-width: 12rem;
  padding: 1rem;
}

%error-bubble-up {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  max-width: 25rem;
  background-color: $alert-red;
  padding: 1rem;
  border-radius: 1rem;
  color: $neutral-100;
  font-size: $fs-100;
  font-weight: $fw-600;

  &::after {
    content: "";
    border: 10px solid transparent;
    border-bottom-color: $alert-red;
    border-top: 0;
    position: absolute;
    left: calc(50% - 10px);
    top: -10px;
  }
}

%error-bubble-down {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  max-width: 25rem;
  background-color: $alert-red;
  padding: 1rem;
  border-radius: 1rem;
  color: $neutral-100;
  font-size: $fs-100;
  font-weight: $fw-600;

  &::after {
    content: "";
    border: 10px solid transparent;
    border-top-color: $alert-red;
    border-bottom: 0;
    position: absolute;
    left: calc(50% - 10px);
    bottom: -10px;
  }
}
