@use "typography" as *;
@use "colors" as *;
@use "sizes" as *;
@use "shadows" as *;

// BODY
$body-txt-clr: $neutral-900;
$body-bg-clr: $neutral-100;

// LAYOUT
$grid-gap: 5rem;

// HEADINGS
$heading-ff: $ff-base;
$heading-tt: unset;
$heading-ls: -0.5px;
$heading-line-height: 1.1;
$heading-clr-default: $neutral-900;

$heading-1-fs: $fs-base;
$heading-1-fw: $fw-700;
$heading-1-clr: $heading-clr-default;

$heading-2-fs: $fs-500;
$heading-2-fw: $fw-400;
$heading-2-clr: $heading-clr-default;

$heading-3-fs: $fs-base;
$heading-3-fw: $fw-500;
$heading-3-clr: $heading-clr-default;
